<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pearl Pangolin</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <h1>Pearl Pangolin</h1>
  <hr />
  <h2>About</h2>
  <br />
  <h3>
    I decided to recreate the Pearl Pangolin webpage from the 90's as I remember
    it in my mind. Welcome!
  </h3>
  <h3>Play Game</h3>
  <h3>About</h3>
  <hr />
  <h1>Contact Us</h1>
  <body>
    <script src="index.js"></script>
  </body>
</html>
