{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pearl Pangolin - About</title>
    <link rel="stylesheet" href="{% static 'css/pp.css' %}" />
  </head>
  <h1>Pearl Pangolin</h1>
  <hr />
  <h2>About</h2>
  <br />
  <h3>
    Pearl Pangolin was a website guessing game that I remember from the earliest
    days of the internet. No record of it exists. This project is my attempt at
    recreating that experience.
  </h3>
  <hr />
  <h1>Play Game</h1>
  <h1>Main</h1>
  <body>
    <script src="index.js"></script>
  </body>
</html>
