<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pearl Pangolin</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <h1><center>Pearl Pangolin</center></h1>
  <hr />
  <h2>Welcome to Pearl Pangolin</h2>
  <br />
  <img
    class="main-image"
    src="C:\Users\tyler\Desktop\Game Making\Pearl Pangolin\pangolin.jpeg"
    alt="A pangolin rolled into a ball"
  />
  <h3>
    Pearl Pangolin is a game where you are given hints and then try to guess the
    animal. Enjoy!
  </h3>
  <center><h3>Play Game</h3></center>
  <center><h3>
    <a href="C:\Users\tyler\Desktop\Game Making\Pearl Pangolin\about.html"
      >About</a
    ></h3></center>
  </h3>
  <hr />
  <h1>Contact Us</h1>
  <body>
    <script src="index.js"></script>
  </body>
</html>
